<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ritvi.cms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.ChooseLanguageActivity" />
        <activity android:name=".activity.SliderActivity" />
        <activity android:name=".activity.RegistrationActivity" />
        <activity android:name=".activity.TermsConditionActivity" />
        <activity android:name=".activity.CitizenHomeActivity" />
        <activity android:name=".activity.SatyapanActivity" />
        <activity android:name=".activity.MpinActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ritvi.cms.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- <meta-data -->
        <!-- android:name="io.fabric.ApiKey" -->
        <!-- android:value="odTUxR2y7jhDIb1ImhiGE4VDY" /> -->

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AadharQrScannerActivity" />
        <activity android:name=".activity.ProfileInfoActivity" />
        <activity android:name=".activity.StateSelectActivity" />
        <activity android:name=".activity.AddCommunication" />
        <activity android:name=".activity.AddCommunicationAddressActivity" />
        <activity android:name=".activity.ApplicationSubmittedActivity" />
        <activity android:name=".activity.AllLeaderActivity" />
        <activity android:name=".activity.FavoriteLeaderActivity" />
        <activity android:name=".activity.LeaderHomeActivity" />
        <activity android:name=".activity.SubLeaderHomeActivity" />
        <activity android:name=".activity.LoginWithOTPActivity" />
        <activity android:name=".activity.LoginOtpConfirmActivity" />
        <activity android:name=".activity.ForgotMpinActivity" />
        <activity android:name=".activity.ForgotMpinConfirmActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.HelpSupportActivity" />
        <activity android:name=".activity.ReportActivity" />
        <activity android:name=".activity.AadharIntegrationActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".testing.FacebookAppInvitationActivity" />
        <activity android:name=".testing.FacebookMainActivity" />
        <activity android:name=".activity.SuggestionSubmitFormActivity" />
        <activity android:name=".activity.InformationSubmittedActivity" />
        <activity android:name=".activity.ProfilePageActivity" />
        <activity android:name=".activity.ReferActivity"></activity>
    </application>

</manifest>